@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #b8d2e4;
  color: #156669;
  scroll-behavior: smooth;
}
sub {
  font-size: 13px;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.main1 h1 {
  font-size: 6vw;
  font-weight: 550;
}
.main2 img {
  border-radius: 50%;
  height: 35vw;
  width: 35vw;
}
.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo{
  clip-path: circle(23% at 50% 52%);

}
.main1 h2 {
  font-size: 2vw;
  font-weight: 500;
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.section img{
    width: 30vw;
    height: 20vw;
}
section h2 {
    font-size: 5vw; 
}
section p{
  font-size: 2vw;
}
.cliping{
  
  clip-path: polygon(0% 25%, 25% 25%, 25% 0%, 55% 0%, 55% 25%, 80% 25%, 80% 50%, 55% 50%, 55% 79%, 25% 80%, 25% 50%, 0% 50%);
}
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: end;
    height: auto;
    text-align: left;
  }
  header h2{
    margin-bottom: 20px;
  }
  section h2 {
    font-size: 10vw;
    
}
section p{
  font-size: 5vw;
}
.main1 h1 {
  font-size: 10vw;
}
.main1 h2 {
  font-size: 5vw;
}
.main2 img {
  display: none;
}
header{
  position: relative;
  background-image: url(public/profile23.png);
  background-size: cover;
  color: #b8d2e4;
  height: 60vh;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity by changing the last value (0 to 1) */
}
.section {
  flex-direction: column;
  justify-content: center;
  

}
.section img{
  width: 100%;
  height:100%;
}
body{
  text-align: center;
  
}
}


